# Primeiro Programa

In [26]:
print('Primeiro Programa')
# a \ está juntando a linha 3 com a 2 fazendo a soma
1 \
  + 2

Primeiro Programa

3

In [18]:
1 + 2 + 3 
#Sempre vai exebir o ultimo a não se que coloque o print
4 + 5 + 6

15

# Tipos Basicos

In [17]:
#tipo boolean
print(True)
#tipo boolean
print(False)
#float com inteiro
print(1.2 + 1)
#String
print('Aqui eu falo na minha lingua')
#string com aspas duplas
print("tbm funciona")
#concatenar um texto com uma multiplocação
print('voce é ' + 3 *'muito ' + 'legal')
#print(3 +'3')-> ambiquidade
#Lista
print([1, 2, 3])
#Dicionario
print({'nome': 'Pedro', 'idade': 22})
#nulo
print(None)

True
False
2.2
Aqui eu falo na minha lingua
tbm funciona
voce é muito muito muito legal
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [16]:
# tipo inteiro
a = 10
# tipo float
b = 5.2
# misturou os 2 tipos
print(a + b)

# a mesma variavel agora passou a ser string
a = 'Agora sou uma string!'
print(a)

# não vai sair pq ela é uma string agora precisa de print('')
a
# ela n foi mudada continua sendo um float por isso vai aparecer na saida
b 

#print(a + b) -> ambiguidade

15.2
Agora sou uma string!

5.2

# Comentários

In [15]:
#Minhas variaveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o quanto vai sobrar
do meu salario!
"""

print(salario - despesas)
#print('Fim')
print('Fim de verdade') #comentar aqui tbm vale!

'''
A ideia é calcular o quanto vai sobrar
do meu salario!
'''

print('agora sim Fim de verdade')

994.25
Fim de verdade
agora sim Fim de verdade

# Operadores Aritméticos

In [14]:
#soma
print(2 + 3)
#adição
print(4 - 7)
#multiplicação
print(2 * 5.3)
#divisão
print(9.4 / 3)
# // resulta no numero inteiro
print(9.4 // 3)
# eleva o numero a 8 no exemplo
print(2 ** 8)
# % pega o resto da divisão
print(10 % 3) 

a = 12
# o b tem o mesmo valor de a que é 12
b = a
print(a+b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [ ]:
#Desafio calcular a % que é gastado do salario
salario = 3450.45
despesas = 2456.2

#Resposta
percentual_comprometido = despesas / salario * 100
percentual_comprometido

# Operadores relacionais

In [13]:
# 3 maior que 4?
print(3 > 4)
# 4 é maior e igual a 3?
print(4 >= 3)
# 1 é menor que 2?
print(1 < 2)
# 3 é menor e igual a 1?
print(3 <= 1)
# 3 é diferente e 2?
print(3 != 2)
# 3 é igual a 3?
print(3 == 3)
# 2(inteiro) é igual a '2'(string)?
print(2 == '2')

False
True
True
False
True
True
False

# Operadores de atribuição

In [12]:
#valor de a =3
a = 3
#valor a + 7
a = a + 7
print(a)

#subistituiu o valor de a por 5
a = 5
print(a)

#acrecenta +10 no valor de a, que é a mesma coisa que a = a +10
a += 10
print(a)

# está diminuindo o valor de a em 3, que é a mesma coisa que a = a - 3
a -= 3
print(a)

# está pegando o ultimo e multiplicando a valor de a em 3
a *= 2
print(a)

# está pegando o ultimo a e dividindo o valor de a em 4
a /= 4
print(a)

#está pegando o ultimo a e dividindo por 4 e pegando o resto
a %= 4
print(a)

#está pegando o ultimo valor de a e elevando a 8 
a **= 8
print(a)

#está pegando o ultimo valor de a e divindo por 256 com o resultado em inteiro por causa das //
a //= 256
print(a)

10
5
15
12
24
6.0
2.0
256.0
1.0

# Operadores Logicos

In [11]:
#verdadeiro ou falso
True or False
# 7 diferente de 3(verdadeiro), e 2 > 3(falso)
7 != 3 and 2 > 3

#tabela verdade do AND
#Só vai ser True se os 2 forem True
True and True #True
True and False #False
False and True #False
False and False #False

True and True and True and True and True #True
#basta uma ser False que o resultado é falso
True and False and True and True and True #False

#tabela verdade do OR
#Só vai ser verdadeiro se apenas 1 for True
True or True #True
True or False #True
False or True  #True
False or False #False

False or False or True or False or False #True

#tabela verdade do XOR
#Só vai ser True se os 2 resultados forem diferentes !=
True != True  #False
True != False #True
False != True #True
False != False #False

#Operador negação(unario)
#not ele inverte o resultado
not True #False
not False #True

#0 é falso
not 0  #True
#qualquer numero é verdadeiro
not 1 #False
#negando duas vezes volta para verdadeiro
not not -1 #True
not not True #True


#CUIDADO Operador bit a bit!
# & = e
True & False #False
# | = ou
False | True #True
# ^ = diferente !=
True ^ False #True

# AND bit-a-bit   
# 3 = 11
# 2 = 10
# _ = 10
3 & 2 # 2

# OR bit-a-bit 
# 3 = 11
# 2 = 10
# _ = 11
3 | 2 # 3

# XOR bit-a-bit 
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2 # 1

#um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

meta = saldo and salario - despesas >= 0.2 * salario
meta # True

saldo = 1000
salario = 4000
despesas = 3967

meta = saldo and salario - despesas >= 0.2 * salario
meta # False 


saldo = 1000
salario = 4000
despesas = 2967

#Outra maneira de fazer o mesmo
saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario
meta = saldo_positivo and despesas_controladas
meta # True

True

In [10]:
#Desafio Operadores logicos

#Os trabalhos
trabalho_terca = True
trabalho_quinta = True

"""
-Confirmando os 2 = tv 52' + sorvete
-Confirmando apenas 1 = tv 32' + sorvete
-Nenhum confirmado = fica em casa saude
"""
tv_50 =  trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print("Tv50={}, Tv32={}, Sorvete={}, Saudavel={}"
     .format(tv_50, tv_32, sorvete, mais_saudavel))

#começa em 0 a ordem tu pode modificicar --> "{2}, {1}, {0}".format(1, 2, 3) sainda= '3, 2, 1'

Tv50=True, Tv32=False, Sorvete=True, Saudavel=False

# Operados Unários

In [9]:
a = 3
#a++ erro
a += 1
a
#a-- erro
#++a ele mantem o mesmo valor
#-a deixa negativo
# a = -a esse operador 
#+a deixa positivo
 

not 0 #True
not -2 #False
not 2 #False
not False #True
not not True #True
not True #False

False

# Operadores Ternários

In [8]:
esta_chovendo = True
#a verdadeira é sempre a mais proxima no caso 'molhadas'
print('Hoje estou com roupas ' + ('secas.', 'molhadas.')[esta_chovendo])

print('Hoje estou com roupas ' + ('molhadas.' if esta_chovendo else 'secas.'))

Hoje estou com roupas molhadas.
Hoje estou com roupas molhadas.

# Mais operadores

In [ ]:
#Operador de membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista #True
'Ana' not in lista  #false

#Operador de identidade
x = 3
y = x
z = 3
x is y #True
y is z #True
x is not z #False

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]
lista_a is lista_b #True
lista_b is lista_c #False pq em uma lista ela cria outro armazenamento na memoria por isso não são iguais
lista_a is not lista_c #True

# Builtins

In [28]:
#type()
type(1)
__builtins__.type('fala galera')
__builtins__.print(10 / 3)

#__builtins__.help(__builtins__.dir)


#dir() #dir armazena as ultimas coisas feitas
#dir(__builtins__)

nome = 'João da silva'
type(nome)
__builtins__.len(nome) #len é calcula o tamanho da string no caso a quantidade de letras

3.3333333333333335

13

# Conversão de Tipos

In [2]:
2 + 3 # 5
'2' + '3' # 23 ele jutou as string
#2 + '3' # Error
#print(2 + '3') #Error 

a = 2
b = '3'
type(a) #Tipo Inteiro
type(b) #Tipo String
print(a + int(b)) # int(b) converteu a String em Int assim o resultado é 5
print(str(a) + b) #convertemos o a que era INT em uma String Str assim juntando as duas resultado 23
type(str(a))# String 
#print(2 + float('3.4'))#a conversão tem que ser para o seu tipo no caso numero não é inteiro então se usa o float

5
23

str

# Coerção Automatica

In [22]:
10 / 2 
type(10/ 2) #tipo float
10 / 3 # 3.333
10 // 3
type(10 // 3) #tipo inteiro
10 // 3.3
type(10 // 3.3) #tipo float
10 / 2.5
2 + True #3
2 + False #2
type(1 + 2) #int
type(1 + 2.5) # float

float

# Tipos Numericos

In [64]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b # mesmo sendo um numero inteniro ele sempre sai no tipo float 2.0
a + b # 7.5 float
a * b # 12.5 float

type(a) #int
type(b) # float
type(a - b) #float

b.is_integer() #False o b n é um int
5.0.is_integer() #True sim ele é um inteiro pq ele ta zerado a casa decimal

dir(int)
int.__add__(2, 3) # 5
2 + 3 # 5

(-2).__abs__() #2 abs ele deixa absoluto sempre deixa positivo
abs(-2) # 2

(-3.6).__abs__() #retorna 3.6 mesmo em float
dir(float)
abs(-3.6) #retorna positivo

3.6

In [78]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7) #Decimal('0.1428571428571428571428571429')

getcontext().prec = 4
Decimal(1) / Decimal(7) #Decimal('0.1429')
Decimal.max(Decimal(1), Decimal(7))#return 7 o numero maior
dir(Decimal)

1.1 + 2.2 # retornou 3.3000000000000003  
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2) #return Decimal('3.300000000') 3.3

Decimal('3.300000000')

# Tipo String

In [111]:
dir(str)
nome = 'Guilherme Timm'
nome #return Guilherme Timm
nome[0] #return a letra G posição inicial
#nome[0] = 'P' error string é imutavel

#'marca d' água' error
"Dias D'Avila" == 'Dias D\'Avila' #são iguais
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto de multiplas
    ...linhas"""
doc #'Texto de multiplas\n...linhas' \n quebra linha

print('Texto de multiplas\n\t...linhas') #\t da um tab
print(doc)

doc2='''também é possivel
... com 3 aspas simples'''
doc2

Texto de multiplas
	...linhas
Texto de multiplas
    ...linhas

'também é possivel\n... com 3 aspas simples'

In [2]:
nome = 'Ana Paula'
nome[0] #'A'
nome[6] #'u'     012345678
nome[-2]#'l'     Ana Paula
#                0 ...-2-1

nome[4:] #ele pega o resto depois do numero return 'Paula'
nome[-5:] #Mesma coisa só que de tras para frente no caso return 'Paula'
nome[:3] #ele pega 0,1,2, 3 só que o 3 é " " ele n conta
nome[2:5]# ele pega 2,3,4, 5 ele n conta o ultimo
#          0123456789
numeros = '1234567890'
numeros   
numeros[::]
numeros[::2] #return '13579' ele foi pulando de 2 em 2
numeros[1::2] #return '24680' ele foi iniciando apartir do 1 de 2 em 2
numeros[::-1] #return '0987654321' ele inverteu a string
numeros[::-2] #return '08642' de tras para frente de 2 em 2

nome[::-1] #inverteu o nome

'aluaP anA'

In [20]:
frase = 'Python é uma linguagem excelente'
'py' in frase #False pq letras maisculas contam tbm
'ing' not in frase #False 'ing' está presente na linguagem
len(frase) # tamanho de caracteres = 32
frase.lower() #deixou tudo em letra minuscula 'python é uma linguagem excelente'
frase.upper() #return tudo em letra maiscula 'PYTHON É UMA LINGUAGEM EXCELENTE'

frase.split() #return separa em palavras['Python', 'é', 'uma', 'linguagem', 'excelente']
frase.split('e') #return foi quebrado  a letra 'e' ['Python é uma linguag', 'm ', 'xc', 'l', 'nt', '']

#dir(str) #tudo que tem dentro de string
#help(str.center) # vereficar oq tem dentro de center

['Python é uma linguag', 'm ', 'xc', 'l', 'nt', '']

In [40]:
a = '123'
b = ' de oliveira 4'
a + b #return '123 de oliveira 4' :---> USAR ESSA FUNÇÃO ALTO NIVEL
#que é o mesmo que
a.__add__(b)#return '123 de oliveira 4'
str.__add__(a,b)#return '123 de oliveira 4'

dir(str)
len(a) # return 3 :---> USAR ASSIM
a.__len__() #return 3 que é a mesma coisa que o exemplo acima
'1' in a #True 1 está presente na variavel a
#que é a mesma coisa que
a.__contains__('1') #True

True

# Lista
É delimitado por [], indexado cada elemento tem um indice tipo 0 1 2 3...,aceita repetições pode colocar valores iguais,segue a ordem de inserção quando é dato append os elementos são ordenados

In [60]:
lista = [] #para definir uma lista se usa um par de []
type(lista)
dir(lista)
len(lista) #tamanho da lista 0
lista.append(1) #adiciona 1 na lista
lista.append(5) #adiciona 5 na lista
lista.append([1, 2 ,3]) #foi adificiona uma lista dentro de outra lista
lista # está retornando [1, 5, [1, 2, 3]]
len(lista) # agora o tamanho é 2

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista #return [1, 5, 'Ana', 'Bia'] :--> NÃO É UMA BOA PRATICA MISTURAR STRING COM INT,FLOAT... LISTA HETEROGÊNEA
nova_lista.remove(5) #removeu o elemento 5
nova_lista #return  [1, 'Ana', 'Bia']
nova_lista.reverse() #reverteu a lista
nova_lista #return  ['Bia', 'Ana', 1]

['Bia', 'Ana', 1]

In [80]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') # verefica a posição que o Guilherme está na lista no caso é a 3 começa do 0,1,2,3,4.....
#ista.index('42') vai gerar um error pelo fato do elemento 42 não existir
lista[2] #return 'Rebeca'
1 in lista #True o 1 consta na lista...
'Rebeca' in lista # return True pq ela contra na lista
'Pedro' not in lista #True Pedro não está na lista...
lista[0] #return 1 que é o primeiro da lista
lista[4] #return 3.1415
#lista[5] ERROR o limite desta lista está em 4
lista[-1] #pega o ultimo elemento da lista no caso 0,1,2,3,4... :--->   <---: ... -5,-4,-3,-2,-1
lista[-5] #return 1

1

In [105]:
#indice    0      1      2       3        4
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
#indice-  -5      -4     -3     -2       -1      

lista[1:3] #return ['Lia', 'Rui'] no caso elemento 1, 2 o 3 não entra
lista[1:-1] #return ['Lia', 'Rui', 'Paulo'] no caso entrou o 1,2,3 o -1 seria 'Dani' ele não entra
lista[1:] #return ['Lia', 'Rui', 'Paulo', 'Dani'] no caso entrou 1,2,3,4 ou seja do 1 até o final
lista[:-1] #return ['Ana', 'Lia', 'Rui', 'Paulo'] no caso entrou -5,-4,-3,-2 o -1 n entra
lista[:] #return ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani'] retorna toda lista
lista[::2] #return ['Ana', 'Rui', 'Dani'] ou seja ele pula sempre o segundo(2) elemento 'Lia' e 'Paulo'
lista[::-1] #return ['Dani', 'Paulo', 'Rui', 'Lia', 'Ana'] ou seja ele inverteu a lista
del lista[2] #deletou o indice 2='Rui'
lista #return ['Ana', 'Lia', 'Paulo', 'Dani']
del lista[1:] #deleta tudo a partir do numero 1 = 'Lia', 'Rui', 'Paulo', 'Dani'
lista #return ['Ana']

['Ana']

# Tuplas
É delimitado por (), não pode ser modificada, alterar elementos ou excluir não pode

In [26]:
tupla = tuple() # para definir uma tupla é um par de ()
tupla = ()
type(tupla) #tuple
dir(tuple)
#help(tuple)
tupla = ('um') #assim é uma string CUIDADO!!!!
type(tupla) #string
tupla = ('um',) # com a (,) apos se torna uma tuple, NO CASO SE FOR UMA TUPLE DE UM UNICO ELEMENTO USAR A ,
type(tupla) #tuple
tupla[0] #return 'um'
#tupla[0] = 'novo' #error não tem como alterar
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0] #return 'verde'
cores[-1]#return 'branco' ultimo elemento
cores[1:] #return ('amarelo', 'azul', 'branco')

cores.index('amarelo') #return 1 = indice 1 verefirca a posição
cores.count('azul') #return 1 = verefica quantos elementos tem na cor 'azul'
len(cores) #return 4 =  verefica o tamanho da tupla

4

# Dicionário
-É delimitado por {}, é chave + valor, é indexada por string,

In [1]:
# se usa um par de {} para dicionario ESTRUTURA CHAVE + VALOR
pessoa = {'nome': 'Prof(a).Ana', 'idade': 38, 'cursos': ['Ingles', 'Portugues']}
type(pessoa) #return dict = dicionario
dir(dict)
len(pessoa) #return 3

pessoa
pessoa['nome'] #return 'Prof(a).Ana'
pessoa['idade'] #return 38
pessoa['cursos'] #return ['Ingles', 'Portugues']
pessoa['cursos'][1] #return  'Portugues'
pessoa['cursos'][0] #return  'Ingles'
pessoa.keys()#return dict_keys(['nome', 'idade', 'cursos']) pega as chaves do dicionario
pessoa.values()#return dict_values(['Prof(a).Ana', 38, ['Ingles', 'Portugues']]) pega todos valores
pessoa.items()#return dict_items([('nome', 'Prof(a).Ana'), ('idade', 38), ('cursos', ['Ingles', 'Portugues'])]) chave valor
pessoa.get('idade') #return 38
pessoa.get('lalala',[]) #return [] que é um valor default pq eu n tenho um valor 'lalala'

[]

In [18]:
pessoa = {'nome': 'Prof.Alberto', 'idade': 43, 'cursos': ['React', 'Phyton']} #outro diciionario
pessoa['idade'] = 44 #alterei a idade para 44
pessoa['cursos'].append('Angular') #adicionei em cursos 'angular'
pessoa # retuen {'nome': 'Prof.Alberto', 'idade': 44, 'cursos': ['React', 'Phyton', 'Angular']}

pessoa.pop('idade') #pop retira o valor
pessoa # return sem a idade agora {'nome': 'Prof.Alberto', 'cursos': ['React', 'Phyton', 'Angular']}
pessoa.update({'idade': 40, 'Sexo': 'M'}) #update adicionou a idade e tbm o sexo # return 
pessoa # return {'nome': 'Prof.Alberto','cursos': ['React', 'Phyton', 'Angular'],'idade': 40,'Sexo': 'M'}
del pessoa['cursos'] # deletou chave curso
pessoa # return {'nome': 'Prof.Alberto', 'idade': 40, 'Sexo': 'M'}
pessoa.clear() #limpa o dicionario
pessoa #return {} pq foi limpo com o clear

{}

# Conjuntos (Set)
é usado por {} mas não é um dicionario, é apenas valores, não garante a ordem de inserção, não é indexado não tem indice, não aceita repetições valore iguais são ignorados

In [41]:
a = {1, 2, 3} #conjunto set
type(a) #set
#a[0] error ela não aceita indice
a = set('codddd3r') #ele só vai colocar um r somente o resto é ignorado
print(a)#return {'c', 'd', 'e', 'o', 'r'} não tem ordem
print('3' in a, 4 not in a) #return True True
{1, 2, 3} == {3, 1, 2, 3} #return True pq o 3 é repetido ele sempre conta 1 igual

#operacoes 
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2) # return {1, 2, 3} ele cria um outro conjunto sendo que o 2 é repetido ele conta somente um
c1.intersection(c2) #return {2} pelo fato de ser o unico que tem repetido nos conjuntos
#c1.update(c2) #ele alterou o conjunto c1 para {1, 2, 3}
c1 #c1 agora é {1, 2, 3}  por conta do updatepor causa do update
c2 <= c1 #false pq o 3 não está no c1
c1 >= c2 #mesma coisa que o anterior

{1, 2, 3} - {2} #diferenta entre os conjuntos  {1, 3}
c1 - c2 #return {1}
c1 -={2} #retirou o elemento 2
c1 #return {1}

{'3', 'c', 'd', 'r', 'o'}
True True

{1}

# Interpolação
interporlar é substituir valores dentro da string

In [57]:
from string  import Template

nome, idade = 'Ana', 30
# %s string
# %d inteiro
# %f float, caso queira arredondar %2.f duas casas
# %r %s True False se for usar %d ele retorna numero binario 0 ou 1
print('Nome: %s Idade: %d' %(nome, idade)) #versão mais antiga 
print('Nome: {0} Idade: {1}'.format(nome,idade)) #phyton versão < 3.6
print(f'Nome: {nome} Idade: {idade}') #versão mais atual phyton > 3.6

s = Template('Nome: $n Idade: $i')
print(s.substitute(n=nome, i=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30